@page
@model QuizApp.Pages.AddQuestion.Index

@{
    ViewData["Title"] = "Add a question and answers!";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="col-md-8 mb-3">
        <label class="form-label mb-0">Enter the question</label>
        <input asp-for="Question" class="form-control" minlength="1" maxlength="512" id="QuizName">
        <span asp-validation-for="Question" class="text-danger">This field is required!</span>
    </div>
    <div class="col-md-6 mb-3 ml-5">
        <label class="form-label">1) First answer</label>
        <input asp-for="Answer1" class="form-control" minlength="1" maxlength="128" id="Answer1">
        <span asp-validation-for="Answer1" class="text-danger">This field is required!</span>
    </div>
    <div class="col-md-6 mb-3 ml-5">
        <label class="form-label">2) Second answer</label>
        <input asp-for="Answer2" class="form-control" minlength="1" maxlength="128" id="Answer2">
        <span asp-validation-for="Answer2" class="text-danger">This field is required!</span>
    </div>
    <div class="col-md-6 mb-3 ml-5">
        <label class="form-label">3) Third answer(optional)</label>
        <input asp-for="Answer3" class="form-control" minlength="1" maxlength="128" id="Answer3">
    </div>
    <div class="col-md-6 mb-3 ml-5">
        <label class="form-label">4) Fourth answer(optional)</label>
        <input asp-for="Answer4" class="form-control" minlength="1" maxlength="128" id="Answer4">
    </div>
    <div class="col-md-6 mb-3 ml-5">
        <label class="form-label">5) Fifth answer(optional)</label>
        <input asp-for="Answer5" class="form-control" minlength="1" maxlength="128" id="Answer5">
    </div>
    <div class="input-group mb-3 col-md-5 ml-5">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Correct answer</label>
        </div>
        <select asp-for="CorrectAnswer" class="custom-select" id="inputGroupSelect01">
            <option value="0" selected>No correct answer</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <input asp-for="QuizId" hidden value="@Model.QuizId">
    </div>
    <div>
        <input asp-for="QuestionAmount" hidden value="@Model.QuestionAmount">
    </div>
    @if (Model.QuestionAmount == 1)
    {
        <div class="mt-3 ml-4">
            <button type="submit" class="btn btn-primary btn-lg">Finish Questions</button>
        </div>
    }
    else
    {
        <div class="mt-3 ml-4">
            <button type="submit" class="btn btn-primary btn-lg">Next Question</button>
        </div>
    }
</form>